body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif
}

a {
    text-decoration: none;
    color: #000
}

#main-wrapper {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}

.box {
    text-align: center;
    height: 300px;
    width: 450px
}

.name {
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 3px;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.box div {
    margin-top: 40px
}

.box-p,.info p{  
    -webkit-user-select: none;  
       -moz-user-select: none;  
        -ms-user-select: none;  
            user-select: none;
    letter-spacing: 1px
}

.box-p{
    color:#9A9B94;
    opacity: .6;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.box-p:hover{
    opacity: 1;
}

.info a{
    color:#9A9B94;
    opacity: 1;
    -webkit-transition:color .2s linear;
    transition:color .3s linear;
}

.info a:hover{
    color: #F96D00;
}